@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Gruppo&family=Krona+One&family=Montserrat+Subrayada&family=Noto+Sans&family=Poppins&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  